@use '@angular/material' as mat;

@include mat.core();

$my-theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$violet-palette,
  ),
));

html {
  @include mat.core-theme($my-theme);
  @include mat.button-theme($my-theme);
  @include mat.form-field-theme($my-theme)
}

.app-container {
  max-width: 1200px;
  margin: 0 auto;
  padding-bottom: 40px;
}




html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
